.no-comments {
  font-style: italic;
  color: #999;
}

.comments-container {
  margin-top: 20px;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comment p {
  margin-bottom: 0;
}
